.cards {
}

.cards__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  gap: 30px;
}

.cards__list-li {
  width: 100%;
  max-width: 280px;

  height: 100%;
  max-height: 443px;
}

.list__li-link {
}

.list__li-img {
  width: 100%;
  max-width: 293px;
  min-width: 280px;

  height: 100%;
  max-height: 398px;
  min-height: 398px;

  border-radius: 5px;
}

.list__li-info {
  margin-top: 10px;
  margin-left: 5px;
}

.li__info-name {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;

  color: $color-filmName;
}

.li__info-description {
  margin-top: 5px;

  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  color: $color-filmDescription;
}
