.header {
  width: 100%;
  height: 230px;

  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 230px;
}

.home-page {
  background-image: url('../images/header/background/home/header-mobile.jpg');

  @media (min-width: 400px) {
    background-image: url('../images/header/background/home/header-tablet.jpg');
  }

  @media (min-width: 1024px) {
    background-image: url('../images/header/background/home/header-desktop.jpg');
  }
}

.library-page {
  background-image: url('../images/header/background/library/header-mobile.jpg');

  @media (min-width: 400px) {
    background-image: url('../images/header/background/library/header-tablet.jpg');
  }

  @media (min-width: 1024px) {
    background-image: url('../images/header/background/library/header-desktop.jpg');
  }
}

// Navigation Logo

.header__navigation {
  display: flex;
  justify-content: space-between;
}

.navigation__logo-link {
}

.navigation__logo-icon {
  margin-right: 10px;

  width: 24px;
  height: 24px;
}

.navigation__logo-text {
  display: none;

  font-weight: 500;
  font-size: 30px;
  line-height: 35px;

  color: $color-text;

  @media (min-width: 768px) {
    display: inline;
  }
}

// Navigation List

.header__navigation-list {
}

.navigation__list-container {
  display: flex;
  gap: 40px;
}

.list__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  text-transform: uppercase;
  cursor: pointer;

  color: $color-text;
}

.text__selected {
  border-bottom: 3px solid $color-selected;
}

// Header Search

.header__search {
  margin-top: 40px;

  // display: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 100%;
  max-width: 336px;
}

.header__search-form {
  display: flex;
  justify-content: space-between;

  width: 100%;

  border-bottom: 0.5px solid $color-borderSearch;
}

.search__form-input {
  color: $color-text;

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: $color-text;
  }
}

.search__form-btn {
}

.search__form-icon {
  width: 12px;
  height: 12px;
}

.header__search-error {
  margin-top: 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;

  color: $color-error;
}

// Header btn
.header__library {
  display: flex;
  justify-content: center;

  margin-top: 35px;
  gap: 20px;
}

.library__btn {
  border: 1px solid $color-borderLibraryBtn;
  border-radius: 5px;

  padding: 13px 36px;

  text-transform: uppercase;
  color: $color-text;
}

.selected__btn {
  background-color: $color-selected;
}
