<section class="header container">
  <nav class="header__logo">
    <a class="header__logo-link" href="./index" lang="en">
      <svg class="header__logo-img">
        <use href="./images/header/sprite.svg#icon-header-film"></use>
      </svg>
    </a>
  </nav>

  <nav class="header__navigation">
    <h3 class="header__navigation-text selected">home</h3>
    <h3 class="header__navigation-text">my library</h3>
  </nav>

  <div class="header__search">
    <input
      class="header__search-input"
      placeholder="Поиск фильмов"
      type="text"
    />

    <svg class="header__search-img">
      <use href="./images/header/sprite.svg#icon-header-search"></use>
    </svg>
  </div>

  <span class="header__error">
    Search result not successful. Enter the correct movie name and
  </span>
</section>
