<section class="modal visually-hidden">
  <div class="modal__container">
    <div class="modal__content">
      <div class="content__wrap-img">
        <img class="wrap__img-image" src="./images/not-image.jpeg" alt="" />
      </div>

      <div class="content__wrap-information">
        <h3 class="wrap__information-title"></h3>

        <ul class="wrap__information-list"></ul>

        <p class="wrap__information-about">About</p>

        <p class="wrap__information-text"></p>

        <div class="wrap__information-container">
          <button class="btn-watched information__container-btn btn__selected">
            add to watched
          </button>

          <button class="btn-queue information__container-btn">
            add to queue
          </button>
        </div>
      </div>
    </div>

    <svg class="modal__content-close">
      <use href="./images/header/sprite.svg#icon-modal-close"></use>
    </svg>
  </div>
</section>

<!-- 

<div class="modal__container">
    <div class="modal__content">
      <div class="content__wrap-img">
        <img
          class="wrap__img-image"
          src="${details.Poster}"
          alt="123"
        />
      </div>

      <div class="content__wrap-information">
        <h3 class="wrap__information-title">${details.Title}</h3>

        <ul class="wrap__information-list">
          <li class="list__li">
            <p class="list__li-title">Rating</p>
            <p class="list__li-subtitle subtitle__selected">${details.imdbRating}</p>
          </li>

          <li class="list__li">
            <p class="list__li-title">Language</p>
            <p class="list__li-subtitle">${details.Language}</p>
          </li>

          <li class="list__li">
            <p class="list__li-title">Original Title</p>
            <p class="list__li-subtitle">${details.Title}</p>
          </li>

          <li class="list__li">
            <p class="list__li-title">Genre</p>
            <p class="list__li-subtitle">${details.Genre}</p>
          </li>
        </ul>

        <p class="wrap__information-about">About</p>

        <p class="wrap__information-text">${details.Plot}</p>

        <div class="wrap__information-container">
          <button class="information__container-btn btn__selected">
            add to watched
          </button>

          <button class="information__container-btn">add to queue</button>
        </div>
      </div>
    </div>

    <svg class="modal__content-close">
      <use href="../../images/header/sprite.svg#icon-modal-close"></use>
    </svg>
  </div>

 -->
